<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556411130056-vdelv0galhta54qrbeb34khnfddpefq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556411130056-vdelv0galhta54qrbeb34khnfddpefq1</string>
	<key>API_KEY</key>
	<string>AIzaSyDLP4niKRO8vLpZoH6xTAMPpwU4x2j_Pyk</string>
	<key>GCM_SENDER_ID</key>
	<string>556411130056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stella.developertest</string>
	<key>PROJECT_ID</key>
	<string>stella-developer-test</string>
	<key>STORAGE_BUCKET</key>
	<string>stella-developer-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556411130056:ios:729816601a73e7a38795fd</string>
</dict>
</plist>